* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.contact_presentation {
    width: 100%;
    height: 300px;
    background-image: url("image icone/bomoyi malamu contact_us.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.contact_presentation_text {
    background-color: #77757525;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
h2{
    font-size: 20px;
    margin-top:10px;
    color: #008060;
}

.slideur {
    display: flex;
    flex-direction: row-reverse;
    animation: back 12s ease infinite;
}

@keyframes back {

    0%,
    45% {
        transform: translateX(0);
    }

    55%,
    95% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(200%);
    }
}

.contact_presentation_text h1 {
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    color: #FFC72C;
}

.container {
    width: 100%;
    margin: auto;
    padding: 50px 100px;
}

.contact-section {
    background-color: rgba(0, 0, 0, 0.082);
    width: 100%;
    padding: 20px;
    box-shadow: 2px 1px 1px #777575;
    display: flex;
    border-radius: 10px;

}


.contact-section h3 {
    color: #008060;
    margin: 8px 0;
    text-align: left;
}

.contact-section p {
    margin-left: 20px;
    color: black;
}

.contact-info {
    width: 40%;
    padding: 10px;
}

.contact-form {
    width: 60%;
    height: 100%;
}

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn_submit {
    width: 200px;
    border: none;
    padding: 8px 10px;
    background-color: #008060;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: auto;
    transition: all 0.3s ease;
}

.btn_submit:hover {
    background-color: #008060;
    width: 220px;
    cursor: pointer;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 6px 4px #777575;
    transition: all 0.4s ease;
    outline: none;
}

form textarea {
    height: 100px;
}

form input:hover,
form textarea:hover {
    background-color: #008060b2;
}

input:focus,form textarea:focus{
   background-color: #008060b2;
}

.image_contact img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}