
*{
    margin: 0;
    font-family: Arial, sans-serif;
}

.apropos a{
    display: block;
    width: 200px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #008060;
    border-radius: 20px;
}
.image img{
    width: 100%;
}



.accueil {
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1.7;
  background-image:url("bomoyi\ malamu\ docteur.avif");
  background-position: center;
  background-size: cover;
} 

h2{
  color: white;
 font-size: 36px;

  margin-bottom: 20px;
  text-align: center;
}
.accueil h1{
  color: #008060;
   text-shadow: 0 2px 0 white;
  background-color: #47454525;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}
.accueil p{
  color: #008060;
  font-size: 1.5rem;
}
.presentation-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.video-container {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container video {
  width: 100%;
  display: block;
}

.description {
  flex: 1;
}

.description h3 {
  margin-bottom: 16px;
  color:  #008060;
  font-size: 24px;
}

.description p {
  margin-bottom: 16px;
  color:  #2D3748;;
}




/* ==================== Video ========================= */
.filters {
  text-align: center;
  margin: 20px 0;
}
.filters button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #008060;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.filters button:hover {
  background-color: #6FC885;
}
.docteurs {
  padding: 40px 20px;
  background: #f0f0f0;
}
.doctors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.doctor-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease;
}
.doctor-card:hover {
  transform: scale(1.03);
}
.doctor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.contact {
  padding: 40px 20px;
  text-align: center;
}

.presentation-content{
  padding: 30px;
}

/* Animation */
.fade-in {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Responsive */
@media (max-width: 768px) {
  .presentation {
    flex-direction: column;
    text-align: center;
  }
}
